In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
df = pd.read_csv('beta_bdays.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StuID         143 non-null    int64
 1   FirstName     143 non-null    object
 2   LastName      143 non-null    object
 3   PeriodNumber  143 non-null    int64
 4   Birthdate     143 non-null    object
 5   Birthyear     143 non-null    int64
 6   Radio         135 non-null    object
 7   Question#1    140 non-null    object
 8   Question#2    142 non-null    object
 9   Question#3    142 non-null    object
 10  Timedelta     143 non-null    object
dtypes: int64(3), object(8)
memory usage: 12.4+ KB

In [5]:
df['Birthdate'], df['Timedelta'] = pd.to_datetime(df['Birthdate']), pd.to_timedelta(df['Timedelta'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StuID         143 non-null    int64
 1   FirstName     143 non-null    object
 2   LastName      143 non-null    object
 3   PeriodNumber  143 non-null    int64
 4   Birthdate     143 non-null    datetime64[ns]
 5   Birthyear     143 non-null    int64
 6   Radio         135 non-null    object
 7   Question#1    140 non-null    object
 8   Question#2    142 non-null    object
 9   Question#3    142 non-null    object
 10  Timedelta     143 non-null    timedelta64[ns]
dtypes: datetime64[ns](1), int64(3), object(6), timedelta64[ns](1)
memory usage: 12.4+ KB

In [7]:
df.shape

(143, 11)

In [8]:
print(datetime.date.today())

2020-06-17

In [9]:
df.iloc[0, 4]

Timestamp('2020-06-17 00:00:00')

In [10]:
df['Birthdate'].value_counts()

2020-12-08    3
2020-05-08    3
2020-02-24    3
2020-12-11    3
2020-12-10    3
             ..
2020-05-03    1
2020-03-05    1
2020-02-03    1
2020-01-03    1
2020-09-22    1
Name: Birthdate, Length: 118, dtype: int64

In [11]:
today = [datetime.date.today()]

In [12]:
print(datetime.date.today())

2020-06-17

In [13]:
filt = df['Birthdate'].isin(today)

In [14]:
# this is a series
df.loc[filt, 'Birthdate']

0   2020-06-17
Name: Birthdate, dtype: datetime64[ns]

In [15]:
type(df['Birthdate'].isin(today))

pandas.core.series.Series

In [16]:
df[filt]

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
0,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,0 days

#### Note from Andres to Ryan:
Try and avoid for loops at all costs when using pandas.

In [17]:
blist = []
for births in df.loc[filt].iteritems():
    blist.append(births)
    print(f"{births}")
# print(blist)

('StuID', 0    415656
Name: StuID, dtype: int64)
('FirstName', 0    Brian
Name: FirstName, dtype: object)
('LastName', 0    Cha
Name: LastName, dtype: object)
('PeriodNumber', 0    2
Name: PeriodNumber, dtype: int64)
('Birthdate', 0   2020-06-17
Name: Birthdate, dtype: datetime64[ns])
('Birthyear', 0    2003
Name: Birthyear, dtype: int64)
('Radio', 0    ¯_(ツ)_/¯
Name: Radio, dtype: object)
('Question#1', 0    In N Out
Name: Question#1, dtype: object)
('Question#2', 0    not getting my work done
Name: Question#2, dtype: object)
('Question#3', 0    procrastinating
Name: Question#3, dtype: object)
('Timedelta', 0   0 days
Name: Timedelta, dtype: timedelta64[ns])

In [18]:
print(len(blist))

11

In [19]:
print(datetime.datetime.today())

2020-06-17 16:32:18.219385

In [20]:
df['Fullname'] = df['FirstName'] + " " + df['LastName']

In [21]:
latest = df.loc[df['Birthdate'] == datetime.datetime.today().replace(minute = 0, second = 0, microsecond = 0, hour = 0)]

In [22]:
latest

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta,Fullname
0,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,0 days,Brian Cha

In [23]:
print(df.iloc[0, 4].date())

2020-06-17

In [24]:
type(df.loc[df['Birthdate'] == datetime.date.today()])

pandas.core.frame.DataFrame

In [25]:
fname = latest['FirstName'].tolist()
print(fname)

['Brian']

In [26]:
lname = latest['LastName'].tolist()
print(lname)

['Cha']

In [27]:
type(df.iloc[0, 4])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
names = []

In [29]:
for name in zip(latest['FirstName'].tolist(), latest['LastName'].tolist()):
    names.append(name)
    print(name)
# print(names)

('Brian', 'Cha')

In [30]:
print(latest['FirstName'].tolist())

['Brian']

In [31]:
df

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta,Fullname
0,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,0 days,Brian Cha
1,408179,Ryan,Lee,1,2020-06-19,2003,dylan,my name jeff,eat,flying,2 days,Ryan Lee
2,323250,Shyla,Summers,6,2020-06-19,2002,what is radio i'm a gen z kid ok boomer,Umai,y'all gonna make fun of me i don't need this,sleep,2 days,Shyla Summers
3,321411,Jae Hong,Jang,1,2020-06-22,2002,Hip hop,In-n-out,Drug Addicts,Sleeping,5 days,Jae Hong Jang
4,427698,Araya,Costa,6,2020-06-27,2003,kusc,Saap,dark spirits,learning,10 days,Araya Costa
...,...,...,...,...,...,...,...,...,...,...,...,...
138,407082,Leon,Melikian,3,2020-06-03,2005,KUSC,INnOut,fear itself,learning,351 days,Leon Melikian
139,425907,Adil,Shibu,6,2020-06-07,2004,Radio Mango,Chiles,more than 5 IQ,Gaming,355 days,Adil Shibu
140,441016,Qiwen,Hu,4,2020-06-13,2004,bla,blu,blo,Coding!?,361 days,Qiwen Hu
141,402753,Nathaniel,Kilgore,3,2020-06-15,2004,102.7,In and Out,Not knowing why I exist,PC Gaming,363 days,Nathaniel Kilgore
142,325951,Gabriel,Venezia,6,2020-06-16,2005,None,In-N-Out,Heights,Piano,364 days,Gabriel Venezia

In [32]:
lists = df['Fullname'].tolist()
print(lists)

['Brian Cha', 'Ryan Lee', 'Shyla Summers', 'Jae Hong Jang', 'Araya Costa', 'Toddeh Alexander', 'Nareh Mousalu', 'Elizabeth Yim', 'Jonathan Fangon', 'Henry Kaufman', 'Mason Daly', 'Vitale Diamandis', 'Cade Lipscomb', 'Eileen Lee', 'Jacob Thomas Lipp', 'Bennett Haah', 'Kelvin Villago', 'Erik Lindeman', 'Connor Harvey', 'Henri Gang', 'Hayden Elze', 'Kailo Owhadi', 'Emmett Milligan', 'Tejas Shah', 'Benedict Paul Benavides', 'Jake Kim', 'Tae Wook Kim', 'Shahryar Khezri', 'Barbara BreviglieriDeAlmeida', 'Narek Abelian', 'Michelle Kim', 'Dylan Lee', 'Charlotte Foster', 'Andrew Kim', 'Dylan De Choch', 'Julien Owhadi', 'Katelyn Wang', 'Michael Babayan', 'Chan Bin Lee', 'Gene Jeoung', 'Eric Limonadi', 'Mikael Parsamyan', 'Niall McGee', 'Ryan De Bernier', 'Eugene Kae', 'Desiree Gunnoe', 'Nathan Kim', 'Leon Keshishyan', 'Steven Carris', 'Robert Dergharapetian', 'Brandon Carris', 'Monika Dailydaite', 'Eugene Lee', 'Danny Zou', 'Jonathan Aydin', 'Freddie Ireland', 'Dylan Haworth', 'Drew Puttler', 'Katherine Lee', 'William Allen', 'Jackson Zimmer', 'Isaac Lee', 'Joshua Lee', 'Elliot Lin', 'Aidan Mendez', 'Paige Mercer', 'Sean Seraji', 'Sarah Nakama', 'Sarah Paik', 'Dylan Wilbur', 'Ethan Byeon', 'Aaron Kim', 'Matthew Flores', 'Owen Clark', 'Maika Francis', 'Nikitas Klapsis', 'Steven Yu', 'Domenic Velona', 'Dahae Choi', 'Samantha Moore', 'Yerazik Boghozian', 'Bet-sua Perez', 'Brendan Harvey', 'Ravi Riley', 'Alexander Nima', 'Dr. Neat', 'Melissa Muradoglu', 'Isaac Jung', 'Rose Edwards', 'Rohin Manvi', 'Lucas Simblet', 'Jordan Trinh', 'Andrew Boyle', 'Aditya Bose', 'Kyle Reid', 'Ryan Kim', 'Lukas Fullner', 'Ji Yu', 'Ryo Maeda', 'Ashlyn Burton', 'Chiwoon Lee', 'Junki Lee', 'Seohyeon Lee', 'Prashanth Bhaskara', 'Alexander Minasyan', 'Elizabeth Kerman', 'Alexander Altounian', 'Kevin Dong', 'Dylan Sahakians', 'Samuel Yang', 'Manazir Ahmed', 'Alison Maitlen', 'Mary Ajemyan', 'Matthew Paredes', 'Nasya Santos', 'Ryan Lee', 'Stewart Smith', 'Kevin Loritsch', 'Christopher Boyadjian', 'Elisha Nam', 'Arin Ajand', 'Simon Glaza', 'Daniel Steussy', 'Dante Busalacchi', 'Elmer Leon', 'Adarsh Chilkunda', 'Vikram Chilkunda', 'Jennifer Yoshioka', 'Sejin Dam', 'Euichan Lee', 'Rex Roclord', 'Rebecca Gerola', 'Erin Kim', 'Kyeongseo Jeong', 'Seon-Jae Yoon', 'Khalil Bush', 'Troy Cho', 'Andres Torres', 'Leon Melikian', 'Adil Shibu', 'Qiwen Hu', 'Nathaniel Kilgore', 'Gabriel Venezia']

In [36]:
kkk = latest['Fullname'].tolist()
print(kkk)

['Brian Cha']