In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
df = pd.read_csv('beta_bdays.csv')

In [4]:
df

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
0,402753,Nathaniel,Kilgore,3,2020-06-15,2004,102.7,In and Out,Not knowing why I exist,PC Gaming,0 days 00:00:00.000000000
1,325951,Gabriel,Venezia,6,2020-06-16,2005,None,In-N-Out,Heights,Piano,1 days 00:00:00.000000000
2,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,2 days 00:00:00.000000000
3,408179,Ryan,Lee,1,2020-06-19,2003,dylan,my name jeff,eat,flying,4 days 00:00:00.000000000
4,323250,Shyla,Summers,6,2020-06-19,2002,what is radio i'm a gen z kid ok boomer,Umai,y'all gonna make fun of me i don't need this,sleep,4 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...
138,430482,Troy,Cho,6,2020-06-01,2005,don't use radio,some korean place,spiders,gaming,351 days 00:00:00.000000000
139,403325,Andres,Torres,4,2020-06-01,2003,The Breakfast Club,I dunno,I dunno,Haha u'll never know,351 days 00:00:00.000000000
140,407082,Leon,Melikian,3,2020-06-03,2005,KUSC,INnOut,fear itself,learning,353 days 00:00:00.000000000
141,425907,Adil,Shibu,6,2020-06-07,2004,Radio Mango,Chiles,more than 5 IQ,Gaming,357 days 00:00:00.000000000
142,441016,Qiwen,Hu,4,2020-06-13,2004,bla,blu,blo,Coding!?,363 days 00:00:00.000000000

In [5]:
df.shape

(143, 11)

In [6]:
print(datetime.date.today())

2020-06-16

In [7]:
df.iloc[0, 4]

'2020-06-15'

In [8]:
df['Birthdate'].value_counts()

2020-02-24    3
2020-12-10    3
2020-12-11    3
2020-12-08    3
2020-06-28    3
             ..
2020-11-29    1
2020-12-22    1
2020-07-29    1
2020-10-02    1
2020-05-16    1
Name: Birthdate, Length: 118, dtype: int64

In [25]:
today = [datetime.date.today().strftime("%Y-%m-%d")]

In [26]:
print(datetime.date.today().strftime("%Y-%m-%d"))

2020-06-16

In [27]:
filt = df['Birthdate'].isin(today)

In [28]:
# this is a series
df.loc[filt, 'Birthdate']

1    2020-06-16
Name: Birthdate, dtype: object

In [29]:
print(df['Birthdate'].isin(today))

0      False
1       True
2      False
3      False
4      False
       ...
138    False
139    False
140    False
141    False
142    False
Name: Birthdate, Length: 143, dtype: bool

In [30]:
for births in df.loc[filt, 'Birthdate'].iteritems():
    print(births)

(1, '2020-06-16')