In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
df = pd.read_csv('beta_bdays.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StuID         143 non-null    int64
 1   FirstName     143 non-null    object
 2   LastName      143 non-null    object
 3   PeriodNumber  143 non-null    int64
 4   Birthdate     143 non-null    object
 5   Birthyear     143 non-null    int64
 6   Radio         135 non-null    object
 7   Question#1    140 non-null    object
 8   Question#2    142 non-null    object
 9   Question#3    142 non-null    object
 10  Timedelta     143 non-null    object
dtypes: int64(3), object(8)
memory usage: 12.4+ KB

In [6]:
df['Birthdate'], df['Timedelta'] = pd.to_datetime(df['Birthdate']), pd.to_timedelta(df['Timedelta'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StuID         143 non-null    int64
 1   FirstName     143 non-null    object
 2   LastName      143 non-null    object
 3   PeriodNumber  143 non-null    int64
 4   Birthdate     143 non-null    datetime64[ns]
 5   Birthyear     143 non-null    int64
 6   Radio         135 non-null    object
 7   Question#1    140 non-null    object
 8   Question#2    142 non-null    object
 9   Question#3    142 non-null    object
 10  Timedelta     143 non-null    timedelta64[ns]
dtypes: datetime64[ns](1), int64(3), object(6), timedelta64[ns](1)
memory usage: 12.4+ KB

In [8]:
df.shape

(143, 11)

In [9]:
print(datetime.date.today())

2020-06-17

In [10]:
df.iloc[0, 4]

Timestamp('2020-06-16 00:00:00')

In [11]:
df['Birthdate'].value_counts()

2020-12-08    3
2020-05-08    3
2020-02-24    3
2020-12-11    3
2020-12-10    3
             ..
2020-05-03    1
2020-03-05    1
2020-02-03    1
2020-01-03    1
2020-09-22    1
Name: Birthdate, Length: 118, dtype: int64

In [12]:
today = [datetime.date.today()]

In [13]:
print(datetime.date.today())

2020-06-17

In [14]:
filt = df['Birthdate'].isin(today)

In [15]:
# this is a series
df.loc[filt, 'Birthdate']

1   2020-06-17
Name: Birthdate, dtype: datetime64[ns]

In [16]:
type(df['Birthdate'].isin(today))

pandas.core.series.Series

In [20]:
df[filt]

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
1,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,1 days

#### Note from Andres to Ryan:
Try and avoid for loops at all costs when using pandas.

In [18]:
blist = []
for births in df.loc[filt].iteritems():
    blist.append(births)
    print(f"{births}")
# print(blist)

('StuID', 1    415656
Name: StuID, dtype: int64)
('FirstName', 1    Brian
Name: FirstName, dtype: object)
('LastName', 1    Cha
Name: LastName, dtype: object)
('PeriodNumber', 1    2
Name: PeriodNumber, dtype: int64)
('Birthdate', 1   2020-06-17
Name: Birthdate, dtype: datetime64[ns])
('Birthyear', 1    2003
Name: Birthyear, dtype: int64)
('Radio', 1    ¯_(ツ)_/¯
Name: Radio, dtype: object)
('Question#1', 1    In N Out
Name: Question#1, dtype: object)
('Question#2', 1    not getting my work done
Name: Question#2, dtype: object)
('Question#3', 1    procrastinating
Name: Question#3, dtype: object)
('Timedelta', 1   1 days
Name: Timedelta, dtype: timedelta64[ns])

In [19]:
print(len(blist))

11

In [21]:
latest = df.loc[df['Birthdate'] == datetime.date.today()]

In [23]:
fname = latest['FirstName'].tolist()
print(fname)

[]

In [24]:
lname = latest['LastName'].tolist()
print(lname)

[]

In [25]:
names = []
if len(fname) != 0:
    for x in range(len(fname)):
        names.append(f"{fname[x]} {lname[x]}")
print(names)

[]

In [26]:
type(df.iloc[1, 4])

pandas._libs.tslibs.timestamps.Timestamp

In [27]:
df[df['Birthdate'] == df.iloc[1, 4]]

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
1,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,1 days