In [1]:
import pandas as pd

In [2]:
import datetime

In [3]:
df = pd.read_csv('beta_bdays.csv')

In [4]:
df

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
0,325951,Gabriel,Venezia,6,2020-06-16,2005,None,In-N-Out,Heights,Piano,0 days 00:00:00.000000000
1,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,1 days 00:00:00.000000000
2,408179,Ryan,Lee,1,2020-06-19,2003,dylan,my name jeff,eat,flying,3 days 00:00:00.000000000
3,323250,Shyla,Summers,6,2020-06-19,2002,what is radio i'm a gen z kid ok boomer,Umai,y'all gonna make fun of me i don't need this,sleep,3 days 00:00:00.000000000
4,321411,Jae Hong,Jang,1,2020-06-22,2002,Hip hop,In-n-out,Drug Addicts,Sleeping,6 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...
138,403325,Andres,Torres,4,2020-06-01,2003,The Breakfast Club,I dunno,I dunno,Haha u'll never know,350 days 00:00:00.000000000
139,407082,Leon,Melikian,3,2020-06-03,2005,KUSC,INnOut,fear itself,learning,352 days 00:00:00.000000000
140,425907,Adil,Shibu,6,2020-06-07,2004,Radio Mango,Chiles,more than 5 IQ,Gaming,356 days 00:00:00.000000000
141,441016,Qiwen,Hu,4,2020-06-13,2004,bla,blu,blo,Coding!?,362 days 00:00:00.000000000
142,402753,Nathaniel,Kilgore,3,2020-06-15,2004,102.7,In and Out,Not knowing why I exist,PC Gaming,364 days 00:00:00.000000000

In [5]:
df.shape

(143, 11)

In [6]:
print(datetime.date.today())

2020-06-16

In [7]:
df.iloc[0, 4]

'2020-06-16'

In [8]:
df['Birthdate'].value_counts()

2020-05-08    3
2020-12-08    3
2020-12-11    3
2020-02-24    3
2020-12-10    3
             ..
2020-09-02    1
2020-02-26    1
2020-03-26    1
2020-02-01    1
2020-08-05    1
Name: Birthdate, Length: 118, dtype: int64

In [9]:
today = [datetime.date.today().strftime("%Y-%m-%d")]

In [10]:
print(datetime.date.today().strftime("%Y-%m-%d"))

2020-06-16

In [11]:
filt = df['Birthdate'].isin(today)

In [12]:
# this is a series
df.loc[filt, 'Birthdate']

0    2020-06-16
Name: Birthdate, dtype: object

In [18]:
type(df['Birthdate'].isin(today))

pandas.core.series.Series

In [28]:
blist = []
for births in df.loc[filt].iteritems():
    blist.append(births)
    print(f"1{births}")
# print(blist)

1('StuID', 0    325951
Name: StuID, dtype: int64)
1('FirstName', 0    Gabriel
Name: FirstName, dtype: object)
1('LastName', 0    Venezia
Name: LastName, dtype: object)
1('PeriodNumber', 0    6
Name: PeriodNumber, dtype: int64)
1('Birthdate', 0    2020-06-16
Name: Birthdate, dtype: object)
1('Birthyear', 0    2005
Name: Birthyear, dtype: int64)
1('Radio', 0    None
Name: Radio, dtype: object)
1('Question#1', 0    In-N-Out
Name: Question#1, dtype: object)
1('Question#2', 0    Heights
Name: Question#2, dtype: object)
1('Question#3', 0    Piano
Name: Question#3, dtype: object)
1('Timedelta', 0    0 days 00:00:00.000000000
Name: Timedelta, dtype: object)

In [21]:
print(len(blist))

1

In [36]:
latest = df.loc[df['Birthdate'] == datetime.date.today().strftime("%Y-%m-%d")]

In [38]:
fname = latest['FirstName'].tolist()
# print(fname)

['Gabriel']

In [39]:
lname = latest['LastName'].tolist()
# print(lname)

['Venezia']

In [52]:
names = []
if len(fname) != 0:
    for x in range(len(fname)):
        names.append(f"{fname[x]} {lname[x]}")
print(names)

['Gabriel Venezia']

In [54]:
type(df.iloc[1, 4])

str

In [55]:
df[df['Birthdate'] == df.iloc[1, 4]]

,StuID,FirstName,LastName,PeriodNumber,Birthdate,Birthyear,Radio,Question#1,Question#2,Question#3,Timedelta
1,415656,Brian,Cha,2,2020-06-17,2003,¯_(ツ)_/¯,In N Out,not getting my work done,procrastinating,1 days 00:00:00.000000000